*{

    margin: 0px;
    padding: 0px;
    box-sizing: border-box;


}

.parent{

    
    width:100%;
    margin: 0 auto;
    padding: 100px;
    max-width: 600px;    
    

}

#div1{

   
    background-color: #7bc0e2  ;
    border: 1px black solid;
    /* padding: 50%; */
    
    border-radius: 30px; 

}


#div2{

    position: relative;
    width: 70%;
    padding: 20px 20px;
    margin: 0 auto;

    background-color: #D6EAF8 ;
    border: 1px black solid;
    
    border-radius: 10px;
    
    top: 25px;




}

.box_title {

    
    text-align: center;
    font-size: 5vw;

}

.box_img{

 
  margin: 30px 5% 0 5%;
  width: 90%;
  height: 70%;



}

.texto_goku{

    font-size: calc(0.1em + 2vw);
    text-align: justify;
    padding: 0px 20px;

}


